# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
# Ignorar diretórios e arquivos indesejados
node_modules/
.vscode/
*.log
*.bak
.git/
# Ignorar arquivos pessoais
**/Documents/
**/Downloads/
**/Videos/
**/Imagens/
**/Music/
**/OneDrive/
**/AppData/
